<div class = 'page-header'>
<h1>Light Scheduler</h1>
</div>
<br><br>
<%= form_tag '/schedule' do %>
<div class = 'well'>
Schedule Alarm:
<br>
<%= select_datetime Time.now, :prompt => true %>
</div>
<br><br>
<div class = 'well well-large'>
Light:
<%= select_tag :bulb, options_for_select(@a.array[1, @a.array.length]), :class => 'btn dropdown-toggle' %>
On/Off:
<%= select_tag :state, options_for_select([["On", 1], ["Off", 0]]), :class => 'btn dropdown-toggle' %>
<br><br>
Color:
<%= select_tag :color, options_for_select([
	["White", 33333], ["Blue", 46920], ["Green", 25500], ["Red", 65535], ["Yellow", 15331], ["Purple", 52252], ["Orange", 5963]
	]), :class => 'btn dropdown-toggle' %>
Brightness:
<%= select_tag :brightness, options_for_select([["Dim", 50], ["Normal", 125], ["Bright", 200], ["Max", 255]]), :class => 'btn dropdown-toggle' %>
</div>
<br><br>
<%= submit_tag "Save", :class => 'btn btn-primary' %>
<% end %>
<br>
<% if params[:light].nil? && params[:date] %>
<% @a.state(@a.array.index(params[:bulb]), params[:state], params[:brightness].to_i, params[:color].to_i, 0, 0, 0, @time) %>
<br>
<% end %>